extends layout

block content
  h1= title
  p Welcome
    ul
  each val in branches
    li
        a=val
        a(href=`/branch/${val}/catalog`)='Файлы'
        a(href=`/branch/${val}/commit`)='Коммиты'
