extends layout

block content
    .back
    table(class='table')
        tr
            th= 'Files'
            tbody
                each val in fileList
                    tr
                    if (val.type === 'blob')
                        td
                            a(href=`/file/${val.hash}`)= val.name
                    else
                        td
                            .folder
                            a(href=`/dir/${val.hash}`)= val.name
