extends layout

block content
    .back
    table(class='table')
        tr
            th(class='title-dir')= 'Files'
            tbody
                each val in fileList
                    tr(class='table-dir')
                    if (val.type === 'blob')
                        td(class='blob')
                            a(href=`/file/${val.hash}`)= val.name
                    else
                        td(class='tree')
                            .folder
                            a(href=`/dir/${val.hash}`)= val.name
